<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension id="problem" point="org.eclipse.core.resources.markers" name="Fearless Problem">
    <super type="org.eclipse.core.resources.problemmarker"/>
    <persistent value="true"/>
  </extension>

  <extension point="org.eclipse.ui.startup">
    <startup class="fearlessPluginProject.Startup"/>
  </extension>

  <extension point="org.eclipse.ui.perspectives">
    <perspective id="fearlessPluginProject.perspective" name="Fearless"
      class="fearlessPluginProject.FearlessPerspective" icon="icons/fearless16.png"/>
  </extension>

  <extension point="org.eclipse.core.contenttype.contentTypes">
    <file-association content-type="org.eclipse.core.runtime.text" file-extensions="fear,fearless"/>
  </extension>

  <extension point="org.eclipse.ui.commands">
    <category id="fearlessPluginProject.category" name="Fearless"/>
    <command id="fearlessPluginProject.newProject" name="New Fearless Project..."
      categoryId="fearlessPluginProject.category" defaultHandler="fearlessPluginProject.Commands"/>
    <command id="fearlessPluginProject.run" name="Run Fearless Project"
      categoryId="fearlessPluginProject.category" defaultHandler="fearlessPluginProject.Commands"/>
    <command id="fearlessPluginProject.terminate" name="Terminate Fearless Project"
      categoryId="fearlessPluginProject.category" defaultHandler="fearlessPluginProject.Commands"/>
  </extension>

  <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">
      <menu id="fearlessPluginProject.menu" label="Fearless">
        <visibleWhen checkEnabled="false">
          <with variable="activeWorkbenchWindow.activePerspective">
            <equals value="fearlessPluginProject.perspective"/>
          </with>
        </visibleWhen>
        <command commandId="fearlessPluginProject.newProject" style="push"/>
        <separator name="running" visible="true"/>
        <command commandId="fearlessPluginProject.run" style="push"/>
        <command commandId="fearlessPluginProject.terminate" style="push"/>
      </menu>
    </menuContribution>
  </extension>

</plugin>
